.env
__pycache__/
*.pyc
venv/
.venv/
env/
*.db
*.sqlite
*.sqlite3
*_backup_*.db
zbackups/
.cache/
instance/
static/docs/facturas/
static/img/articulos/
static/img/vehicles/
static/img/establecimientos/
static/models/vehicles/
