<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VINOVA</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>

<header class="navbar">
    <div class="logo">
        <h2>VINOVA</h2>
    </div>

    <nav>
        <ul class="nav-links">
            <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li class="dropdown">
                <a href="#">Vehículos</a>
                <div class="dropdown-menu">
                    <a href="#">Catalogo</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('perfil') }}">Mi perfil</a>
            </li>
            <li class="dropdown">
                <a href="#">Instituciones</a>
                <div class="dropdown-menu">
                    <a href="#">Instituciones Afiliadas</a>
                    <a href="#">Concesionarios</a>
                    <a href="#">Centros de servicio</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Contacto</a>
                <div class="dropdown-menu">
                    <a href="#">Servicio al cliente</a>
                </div>
            </li>
        </ul>
    </nav>

    <a href="/login" class="login-btn">
        Iniciar sesión
    </a>
</header>

<section class="hero">
    <div class="hero-content">
        <h1>
            Descubre tu proximo <br>
            <span>vehículo</span>.
        </h1>
        <p>
            Consulta historial, recomendaciones personalizadas y documentación técnica.
        </p>
        <div class="hero-buttons">
            <button class="primary-btn">Comenzar</button>
            <button class="secondary-btn">Ver demo</button>
        </div>
    </div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='img/fondo.png') }}">
    </div>
</section>

<section class="stats">
    <div class="stat-card">
        <div class="icon-box purple">
            <i data-lucide="car-front"></i>
        </div>
        <div class="stat-info">
            <h3>+500</h3>
            <p>Vehículos registrados</p>
        </div>
    </div>

    <div class="stat-card">
        <div class="icon-box blue">
            <i data-lucide="wrench"></i>
        </div>
        <div class="stat-info">
            <h3>+2000</h3>
            <p>Mantenimientos realizados</p>
        </div>
    </div>

    <div class="stat-card">
        <div class="icon-box green">
            <i data-lucide="users"></i>
        </div>
        <div class="stat-info">
            <h3>+50</h3>
            <p>Talleres asociados</p>
        </div>
    </div>

    <div class="stat-card">
        <div class="icon-box yellow">
            <i data-lucide="star"></i>
        </div>
        <div class="stat-info">
            <h3>95%</h3>
            <p>Satisfacción de usuarios</p>
        </div>
    </div>
</section>

<section class="features">
    <h2>Todo lo que necesitas para el cuidado de tu vehículo</h2>

    <div class="feature-grid">
        <div class="feature-card">
            <div class="icon-box purple">
                <i data-lucide="clipboard-list"></i>
            </div>
            <div class="feature-info"> 
                <h3>Registro inteligente</h3>
                <p>Lleva un control completo de los mantenimientos.</p>
            </div>
        </div>

        <div class="feature-card">
            <div class="icon-box blue">
                <i data-lucide="bell"></i>
            </div>
            <div class="feature-info"> 
                <h3>Recordatorios</h3>
                <p>Recibe alertas y recordatorios automáticos.</p>
            </div>
        </div>

        <div class="feature-card">
            <div class="icon-box green">
                <i data-lucide="box"></i>
            </div>
            <div class="feature-info"> 
                <h3>Modelo 3D</h3>
                <p>Explora cada parte del vehículo mediante un modelo interactivo.</p>
            </div>
        </div>

        <div class="feature-card">
            <div class="icon-box yellow">
                <i data-lucide="chart-column"></i>
            </div>
            <div class="feature-info"> 
                <h3>Historial</h3>
                <p>Consulta intervenciones y mantenimientos anteriores.</p>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>